ion-header{
    text-align: center;
}

ion-content{
    align-items: center;
}

ion-card{
    margin-top: 5vh;
    margin-left: 5vw;
    width: 90vw;
    height: auto;
    background-color: rgb(35, 63, 87);

}

p{
    font-weight: 100;
    color:aliceblue;
}

ion-content{
    --background: rgb(13, 35, 54);
    height: auto;
}

ion-button{
    align-self: center;
    width: 90%;
    margin-left: 5vw;
}

